* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
}

@media screen and (min-width: 768px) {
    .content {
        max-width: 768px;
        height: auto;
        margin: 0 auto;
        border-radius: 1rem;
    }
}

